@import url("https://fonts.googleapis.com/css?family=Raleway:500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quando:regular&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-home:before {
  content: "\e900";
  color: #b0acb3;
}

._icon-notification:before {
  content: "\e901";
  color: #b0acb3;
}

._icon-order:before {
  content: "\e902";
  color: #b0acb3;
}

._icon-profile:before {
  content: "\e903";
  color: #b0acb3;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #b0eac3;
  font-family: "Raleway";
}

.wrapper {
  overflow-x: hidden;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 1.75rem;
  max-width: 23.4375rem;
}

.mockup {
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  width: 100%;
  position: relative;
}
@media (min-width: 30em) {
  .mockup {
    width: 23.4375rem;
    border-radius: 1.25rem;
    height: 812px;
  }
}

.subheader {
  padding-top: 2.0625rem;
}
.subheader__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}
.subheader__title {
  color: #222;
  font-size: 1.5rem;
  font-weight: 700;
}
.subheader__notification-btn {
  position: relative;
}
.subheader__notification-btn::before {
  content: "";
  position: absolute;
  top: 0.0625rem;
  left: 0.9375rem;
  width: 0.8125rem;
  height: 0.8125rem;
  background-color: #ff9b3f;
  border-radius: 0.8125rem;
  border: 0.125rem solid #fff;
}

.orders {
  padding-top: 1.25rem;
  padding-bottom: 1.3125rem;
}
.orders__buttons-wrap {
  border-radius: 0.75rem;
  background: #f1f1f1;
  padding: 0.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
}
.orders__buttons-wrap button {
  text-wrap: nowrap;
  color: #222;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: capitalize;
}
@media (min-width: 21.8125em) {
  .orders__buttons-wrap button {
    padding-top: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 21.8125em) {
  @supports (padding-top: clamp( 0.4375rem , -4.3900862069rem  +  24.1379310345vw , 0.875rem )) {
    .orders__buttons-wrap button {
      padding-top: clamp( 0.4375rem , -4.3900862069rem  +  24.1379310345vw , 0.875rem );
    }
  }
  @supports not (padding-top: clamp( 0.4375rem , -4.3900862069rem  +  24.1379310345vw , 0.875rem )) {
    .orders__buttons-wrap button {
      padding-top: calc(0.4375rem + 0.4375 * (100vw - 20rem) / 1.8125);
    }
  }
}
@media (max-width: 20em) {
  .orders__buttons-wrap button {
    padding-top: 0.4375rem;
  }
}
@media (min-width: 21.8125em) {
  .orders__buttons-wrap button {
    padding-bottom: 0.875rem;
  }
}
@media (min-width: 20em) and (max-width: 21.8125em) {
  @supports (padding-bottom: clamp( 0.4375rem , -4.3900862069rem  +  24.1379310345vw , 0.875rem )) {
    .orders__buttons-wrap button {
      padding-bottom: clamp( 0.4375rem , -4.3900862069rem  +  24.1379310345vw , 0.875rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.4375rem , -4.3900862069rem  +  24.1379310345vw , 0.875rem )) {
    .orders__buttons-wrap button {
      padding-bottom: calc(0.4375rem + 0.4375 * (100vw - 20rem) / 1.8125);
    }
  }
}
@media (max-width: 20em) {
  .orders__buttons-wrap button {
    padding-bottom: 0.4375rem;
  }
}
@media (min-width: 21.8125em) {
  .orders__buttons-wrap button {
    padding-left: 1.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 21.8125em) {
  @supports (padding-left: clamp( 0.9375rem , -8.7176724138rem  +  48.275862069vw , 1.8125rem )) {
    .orders__buttons-wrap button {
      padding-left: clamp( 0.9375rem , -8.7176724138rem  +  48.275862069vw , 1.8125rem );
    }
  }
  @supports not (padding-left: clamp( 0.9375rem , -8.7176724138rem  +  48.275862069vw , 1.8125rem )) {
    .orders__buttons-wrap button {
      padding-left: calc(0.9375rem + 0.875 * (100vw - 20rem) / 1.8125);
    }
  }
}
@media (max-width: 20em) {
  .orders__buttons-wrap button {
    padding-left: 0.9375rem;
  }
}
@media (min-width: 21.8125em) {
  .orders__buttons-wrap button {
    padding-right: 1.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 21.8125em) {
  @supports (padding-right: clamp( 0.9375rem , -8.7176724138rem  +  48.275862069vw , 1.8125rem )) {
    .orders__buttons-wrap button {
      padding-right: clamp( 0.9375rem , -8.7176724138rem  +  48.275862069vw , 1.8125rem );
    }
  }
  @supports not (padding-right: clamp( 0.9375rem , -8.7176724138rem  +  48.275862069vw , 1.8125rem )) {
    .orders__buttons-wrap button {
      padding-right: calc(0.9375rem + 0.875 * (100vw - 20rem) / 1.8125);
    }
  }
}
@media (max-width: 20em) {
  .orders__buttons-wrap button {
    padding-right: 0.9375rem;
  }
}
.orders__buttons-wrap button.active {
  border-radius: 0.75rem;
  background: #fff;
  -webkit-box-shadow: 0px 9px 16px 0px rgba(0, 13, 5, 0.15);
          box-shadow: 0px 9px 16px 0px rgba(0, 13, 5, 0.15);
}
.orders__wrapper:not(:last-child) {
  margin-bottom: 3.0625rem;
}
.orders__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.orders__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-order__image {
  width: 92px;
  height: 103.114px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0.75rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-order__content {
  display: grid;
  gap: 2.125rem;
}
.item-order__title {
  color: #0d0d0d;
  font-weight: 500;
  line-height: 1.5rem;
}
.item-order__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.3125rem;
  color: #454545;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1rem;
}
.item-order__total-price {
  color: #309f5f;
}