[class*="_icon-"]::before {
	display: inline-block;
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-home:before {
  content: "\e900";
  color: #b0acb3;
}
._icon-notification:before {
  content: "\e901";
  color: #b0acb3;
}
._icon-order:before {
  content: "\e902";
  color: #b0acb3;
}
._icon-profile:before {
  content: "\e903";
  color: #b0acb3;
}
